form{
    text-align: center;
    border: 5px rgb(114, 13, 69) solid;
}

button{
    margin: 15px;
}

button:disabled{
    cursor: not-allowed;
}

label{
    margin: 10px;
}

input{
    margin: 10px;
}