<form [formGroup]="todoEditFormGroup" class="createTodo">

    <h1>Edit todo item</h1>
    <div class="form-group">
        <label>Title</label>
        <input formControlName="title" />
    </div>

    <div class="form-group">
        <label>Description</label>
        <input formControlName="description" />
    </div>

    <div class="form-group">
        <label>Due date</label>
        <input formControlName="dueDate" type="date" />
    </div>

    <div class="form-group">
        <label>Priority</label>
        <select formControlName="priority">
            <option>High</option>
            <option>Medium</option>
            <option>Low</option>
        </select>
    </div>

    <div class="form-group">
        <label>Status</label>
        <select formControlName="status">
            <option>not started yet</option>
            <option>in progress</option>
            <option>done</option>
        </select>
    </div>

    <div class="form-group">
        <label>Notes</label>
        <textarea formControlName="notes"></textarea>
    </div>

    <button type="button" (click)="updateTodo()" class="button">Save</button>
    <button type="button" (click)="backToList()">No, I changed my mind</button>
</form>